*{

    margin: 0%;
    padding: 0%;
}

h1{

display: flex;
margin-left: 320px;
margin-top: 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bolder;
color: aliceblue;
}

.form{
    margin-left: 150px;
    margin-top: 15px;
    height: 5vmin;

    
}
#search{

    margin-left: 150px;
    margin-top: 1px;
    border: none;
    outline: none;
    cursor:auto;
}
body{
background-image: url(flat-lay-work-desktop-with-notebook-keyboard.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.form button,input{
border-radius: 2rem;
padding: 4px;
border: 1px solid rgb(32, 16, 16);
}
#addTaskBtn{
    cursor: cell;   
}
#taskList {
  margin-top: 20px;
  list-style: decimal;
  margin-left: 100px;
  color: aliceblue;
}
#taskList li {
  margin-left: 40px;
  margin-top: 15px;
  color: aliceblue;
}
.task-item.completed span {
  text-decoration: line-through;
}
.success {
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px;
}

.error {
  color: rgb(244, 0, 0);
  font-weight: bold;
  padding: 10px;
}

.warning {
  color: rgb(255, 255, 255);
  font-weight: bold;
    padding: 10px;

}

.clear {
  color: rgb(255, 255, 255);  /* Clear All ke message ka color */
  font-weight: bold;
    padding: 10px;

}